src/test/java/xml/xmls/auto/auto_p.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LeadData" type="LeadDataType"/>
    <xs:complexType name="InsuranceType">
        <xs:sequence>
            <xs:element type="CurrentPolicyType" name="CurrentPolicy"/>
            <xs:element type="RequestedPolicyType" name="RequestedPolicy"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrentPolicyType">
        <xs:sequence>
            <xs:element type="xs:string" name="ExpirationDate"/>
            <xs:element type="xs:string" name="InsuredSince"/>
            <xs:element type="xs:string" name="InsuranceCompany"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AffiliateDataType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Id"/>
                <xs:attribute type="xs:string" name="OfferId"/>
                <xs:attribute type="xs:string" name="SubId"/>
                <xs:attribute type="xs:string" name="Sub2Id"/>
                <xs:attribute type="xs:string" name="Source"/>
                <xs:attribute type="xs:string" name="SurveyPath"/>
                <xs:attribute type="xs:string" name="TransactionId"/>
                <xs:attribute type="xs:string" name="LeadId"/>
                <xs:attribute type="xs:string" name="VerifyAddress"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="QuoteRequestType">
        <xs:sequence>
            <xs:element type="DriversType" name="Drivers"/>
            <xs:element type="VehiclesType" name="Vehicles"/>
            <xs:element type="InsuranceType" name="Insurance"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="QuoteType"/>
    </xs:complexType>
    <xs:complexType name="DriversType">
        <xs:sequence>
            <xs:element type="DriverType" name="Driver"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestedPolicyType">
        <xs:sequence>
            <xs:element type="xs:string" name="PropertyDamage"/>
            <xs:element type="xs:string" name="CoverageType"/>
            <xs:element type="xs:string" name="BodilyInjury"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LeadDataType">
        <xs:sequence>
            <xs:element type="AffiliateDataType" name="AffiliateData"/>
            <xs:element type="QuoteRequestType" name="QuoteRequest"/>
            <xs:element type="ContactDataType" name="ContactData"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="Target"/>
        <xs:attribute type="xs:string" name="RequestTime"/>
        <xs:attribute type="xs:string" name="TimeZone"/>
        <xs:attribute type="xs:string" name="UserAgent"/>
        <xs:attribute type="xs:string" name="SessionLength"/>
    </xs:complexType>
    <xs:complexType name="VehiclesType">
        <xs:sequence>
            <xs:element type="VehicleType" name="Vehicle"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactDataType">
        <xs:sequence>
            <xs:element type="xs:string" name="FirstName"/>
            <xs:element type="xs:string" name="LastName"/>
            <xs:element type="xs:string" name="PhoneNumber"/>
            <xs:element type="xs:string" name="Address"/>
            <xs:element type="xs:string" name="EmailAddress"/>
            <xs:element type="xs:string" name="ZipCode"/>
            <xs:element type="xs:string" name="City"/>
            <xs:element type="xs:string" name="IPAddress"/>
            <xs:element type="xs:string" name="State"/>
            <xs:element type="xs:string" name="YearsAtResidence"/>
            <xs:element type="xs:string" name="MonthsAtResidence"/>
            <xs:element type="xs:string" name="ResidenceType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VehicleType">
        <xs:sequence>
            <xs:element type="xs:string" name="AnnualMiles"/>
            <xs:element type="xs:string" name="CollisionDeductible"/>
            <xs:element type="xs:string" name="ComphrensiveDeductible"/>
            <xs:element type="xs:string" name="Garage"/>
            <xs:element type="xs:string" name="OneWayDistance"/>
            <xs:element type="xs:string" name="PrimaryUse"/>
            <xs:element type="xs:string" name="Ownership"/>
            <xs:element type="xs:string" name="WeeklyCommuteDays"/>
            <xs:element type="xs:string" name="Year"/>
            <xs:element type="xs:string" name="Make"/>
            <xs:element type="xs:string" name="Model"/>
            <xs:element type="xs:string" name="Leased"/>
            <xs:element type="xs:string" name="DailyMileage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DriverType">
        <xs:sequence>
            <xs:element type="xs:string" name="FirstName"/>
            <xs:element type="xs:string" name="LastName"/>
            <xs:element type="xs:string" name="Gender"/>
            <xs:element type="xs:string" name="BirthDate"/>
            <xs:element type="xs:string" name="LicenseState"/>
            <xs:element type="xs:string" name="AgeLicensed"/>
            <xs:element type="xs:string" name="YearsAtEmployer"/>
            <xs:element type="xs:string" name="RequiresSR22Filing"/>
            <xs:element type="xs:string" name="LicenseEverSuspendedRevoked"/>
            <xs:element type="xs:string" name="CreditRating"/>
            <xs:element type="xs:string" name="Occupation"/>
            <xs:element type="xs:string" name="LicenseStatus"/>
            <xs:element type="xs:string" name="Education"/>
            <xs:element type="xs:string" name="MaritalStatus"/>
            <xs:element type="xs:string" name="RelationshipToApplicant"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>